*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

form{
margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border: 1px solid grey;
   margin-left: 370px;
   margin-right: 370px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 5px;
background: linear-gradient(.25turn, rgb(212, 236, 53), 10%, rgb(44, 191, 235));
font-size: large;
}

.registerbtn{
    background-color: rgb(30, 210, 72);
}

.loginbtn{
    background-color :chocolate;
}


h1{
    color: chartreuse;
    font-weight: 700;
}